body {
	background-image: url("Images\\Background.jpg");
	background-size: 100% auto;
	margin: 0;
	overflow-x: hidden;
	font-family: Arial Rounded MT;
}

li {
	margin-top: 10px;
}

header {
	font-size: 22px;
}

.image {
	transition: transform 0.7s;
}

.image:hover {
	-ms-transform: scale(1.07); /* IE 9 */
  	-webkit-transform: scale(1.07); /* Safari 3-8 */
  	transform: scale(1.07);
}

.allElements {
	position: relative;
	width: 80%;
	margin-top: 50px;
	margin-left: 50%;
	transform: translate(-50%);
}

#container {
	position: absolute;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: White;
    background-color: #db5c6f;
}

.nav-link {
	padding: 5px 30px;
	color: #db5c6f;
	text-align: center;
}

.nav-link:hover {
	color: darkred;
	/*text-decoration: none;*/
}

hr {
	border: 2px solid red;
	border-radius: 50%;
	width: 80%;
	left: 10%;
	position: absolute;
}

.contact-button {
	background-image: linear-gradient(to right, #FF5F6D 0%, #FFC371  51%, #FF5F6D  100%)
}

.contact-button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 50px;
}

.contact-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.fb_link, .insta_links, .YT_links {
	transition: transform .3s;
}



.fb_link:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5);
}

.insta_links:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5);
}

.YT_links:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5);
}


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}


		/* Modal Content/Box */
.modal-content {
  	background-image: url("Images\\Background.jpg");
  	background-size: 50%;
  	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  	border: 1px solid #888;
  	width: 50%; /* Could be more or less, depending on screen size */
  }

.backbtn {
	width: auto;
	padding: 10px 18px;
	background-color: light-grey;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}


@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
	  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
	  	font-color: white;
		display: block;
		float: none;
	}
	.backbtn {
	    width: 100%;
	}
}


.formInput {
  	width: 100%;
  	padding: 12px 20px;
 	margin: 8px 0;
	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}