html, body {
	background-image: url("Images\\Background.jpg");
	background-size: 100% auto;
	margin: 0;
	overflow-x: hidden;
	font-family: Arial Rounded MT;
}

li {
	margin-top: 10px;
}

header {
	font-size: 22px;
}

.image {
	transition: transform 0.7s;
}

.image:hover {
	-ms-transform: scale(1.07); /* IE 9 */
  	-webkit-transform: scale(1.07); /* Safari 3-8 */
  	transform: scale(1.07);
}

.allElements {
	position: absolute;
	width: 80%;
	margin-top: 50px;
	margin-left: 50%;
	transform: translate(-50%);
}

#container {
	position: absolute;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: White;
    background-color: #db5c6f;
}

.nav-link {
	padding: 5px 30px;
	color: #db5c6f;
	text-align: center;
}

.nav-link:hover {
	color: darkred;
	/*text-decoration: none;*/
}

hr {
	border: 2px solid red;
	border-radius: 50%;
	width: 80%;
	left: 10%;
	position: absolute;
}

.button {
	background-image: linear-gradient(to right, #FF5F6D 0%, #FFC371  51%, #FF5F6D  100%)
}

.button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 50px;
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15%;
	background: transparent;
	text-align: center;
	color: #db5c6f;
}


.fb_link, .insta_links, .YT_links {
	transition: transform .3s;
}



.fb_link:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5);
}

.insta_links:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5);
}

.YT_links:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5);
}